<!DOCTYPE html>
<html ng-app="myStarApp">
<head>
	<title>Star Craft Ranking Project</title>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="ui-bootstrap-tpls-1.3.3.min.js"></script>
	<script type="text/javascript" src="starapp.js"></script>
	<script type="text/javascript" src="app.paginationCtrl.js"></script>
	<script type="text/javascript" src="app.starCtrl.js"></script>
	<script type="text/javascript" src="app.starFactory.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<!-- 	<div class="container" ng-controller="StarController as star">
 -->		
		
	<!-- 	<main>
			<table>
				<thead>
					<tr>
						<th ng-repeat='itemHeading in star.starData.cols'> {{ itemHeading}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='row in star.starData.data'>
						<td ng-repeat='playerData in row'>{{playerData}}</td>
					</tr>
				</tbody>
			</table>
		</main> -->
		<div class="container table-responsive" ng-controller="PaginationDemoCtrl as pagi">
			<table class="table table-striped">
				<thead class="reverse">
					<tr>
						<th ng-repeat='itemHeading in pagi.starData.cols'> {{ itemHeading}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='row in pagi.starData.data'>
						<td ng-repeat='playerData in row'>{{playerData}}</td>
					</tr>
				</tbody>
			</table>

		    <!-- <h4>Default</h4>
		    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
		    View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.
 -->
		</div>
	<!-- /div> -->
</body>
</html>